<div class="module-detail-container">
  <h2 *ngIf="moduleName">{{ moduleName }} Cursos Disponibles</h2>
  <h2 *ngIf="!moduleName">Cursos Disponibles</h2>

  <mat-list *ngIf="courses$ | async as courses">
    <div class="courses-grid"> <!-- New container for the grid -->
        <mat-card *ngFor="let course of courses" class="course-card" [routerLink]="['/courses/courses', course.id]">
          <mat-card-content>
            <h3>{{ course.name }}</h3>
          </mat-card-content>
          <!-- TODO: Add description or other course details if available in Course interface -->
        </mat-card>
    </div>
  </mat-list>
 
  <!-- TODO: Add a message if no courses are available for this module -->
</div>
