.module-detail-container {
  padding: 20px;
}

.module-detail-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.module-detail-container mat-list-item {
  margin-bottom: 10px; // Espacio entre elementos de la lista
}

.module-detail-container mat-card {
  cursor: pointer; // Indica que la tarjeta es clicable
  transition: box-shadow 0.3s ease-in-out; // Animación suave al pasar el ratón
  width: 100%; // Hacer que la tarjeta ocupe todo el ancho disponible en el list item
  box-sizing: border-box; // Incluir padding y borde en el ancho total
}

.module-detail-container mat-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra al pasar el ratón
}

