<div class="content-upload-container">
  <mat-card>
    <mat-card-title>Crear un nuevo curso</mat-card-title>
    <mat-card-subtitle *ngIf="isUploading">Cargando información del curso...</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" [class.uploading]="isUploading">
        <!-- Mostrar barra de progreso de subida -->
        <mat-progress-bar *ngIf="isUploading" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
        <p *ngIf="isUploading" class="upload-progress-text">Cargando... {{ uploadProgress | number:'1.0-0' }}%</p>

        <!-- Sección de datos del curso -->
        <div formGroupName="course" class="course-details-group">
          <h3>Detalles del Curso</h3>
          <mat-form-field appearance="fill">
            <mat-label>Nombre del Curso</mat-label>
            <input matInput formControlName="name" required>
            <mat-error
              *ngIf="uploadForm.get('course.name')?.hasError('required') && uploadForm.get('course.name')?.touched">
              El nombre es obligatorio
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Módulo</mat-label>
            <mat-select formControlName="moduleId" required>
              <mat-option *ngFor="let module of moduleOptions" [value]="module.value">
                {{ module.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="uploadForm.get('course.moduleId')?.hasError('required') && uploadForm.get('course.moduleId')?.touched">
              Modulo is obligatorio
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Sección de capítulos -->
        <div class="chapters-group">
          <h3>Contenido</h3>
          <!-- Iterar sobre el FormArray de capítulos -->
          <div *ngFor="let chapterFormGroup of chapterFormGroups; let i = index" [formGroup]="chapterFormGroup"
            class="chapter-item">
            <h4>Capítulo {{ i + 1 }}</h4>

            <mat-form-field appearance="fill">
              <mat-label>Nombre Capítulo</mat-label>
              <input matInput formControlName="name" required>
              <mat-error
                *ngIf="chapters.at(i)?.get('name')?.hasError('required') && chapters.at(i)?.get('name')?.touched">
                Nombre es requerido
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Tipo de Contenido</mat-label>
              <mat-select formControlName="type" required>
                <mat-option *ngFor="let type of chapterTypes" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="chapters.at(i)?.get('type')?.hasError('required') && chapters.at(i)?.get('type')?.touched">
                Escoja un tipo válido
              </mat-error>
            </mat-form-field>

            <!-- Campo de archivo (mostrar solo si el tipo no es 'text') -->
            <div *ngIf="chapters.at(i)?.get('type')?.value !== 'text'" class="file-upload-control">
              <input type="file" (change)="onFileSelected($event, i)">
              <p *ngIf="chapters.at(i)?.get('fileName')?.value">{{ chapters.at(i).get('fileName')?.value }}</p>
            </div>

            <!-- Campo de contenido de texto (mostrar solo si el tipo es 'text') -->
            <mat-form-field *ngIf="chapters.at(i)?.get('type')?.value === 'text'" appearance="fill">
              <mat-label>Texto</mat-label>
              <textarea matInput formControlName="content"></textarea>
            </mat-form-field>

            <!-- Botón para eliminar capítulo -->
            <button mat-icon-button color="warn" (click)="removeChapter(i)" type="button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <!-- Botón para añadir capítulo -->
          <button mat-raised-button color="accent" (click)="addChapter()" type="button">
            Agregar Capítulo
          </button>
        </div>

        <!-- Botón de envío del formulario principal -->
        <button mat-raised-button color="primary" type="submit" [disabled]="!uploadForm.valid || isUploading">
          Crear Curso
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>